@using MVC.Components.TagHelpers
@model List<Domain.Models.Department>

@{
    ViewData["Title"] = "Monitoring";
}

<h1>Monitoring</h1>

<input type="text" id="searchNameInput" placeholder="Find" autocomplete="off">
&nbsp;&nbsp;&nbsp;&nbsp;
<a asp-action="Sync" class="btn btn-primary">Syncronize</a>

<ul class="departments">
    @foreach (var item in Model)
    {
        if (item.DepartmentMainName == null)
        {
            <li>
                @Html.CreateSpanDepartment(item.Name, "DepartmentName", item.Name)
                @Html.CreateSpanDepartment(item.Name + "Status", "DepartmentStatus", item.Status.ToString())
                <ul>
                    @if (item.Subdepartments.Count != 0)
                    {
                        foreach (var subItem in item.Subdepartments)
                        {
                            <li>
                                @Html.CreateSpanDepartment(subItem.Name, "DepartmentName", subItem.Name)
                                @Html.CreateSpanDepartment(subItem.Name + "Status", "DepartmentStatus", subItem.Status.ToString())
                                <ul>
                                    @if (subItem.Subdepartments.Count != 0)
                                    {
                                        foreach (var i in subItem.Subdepartments)
                                        {
                                            <li>
                                                @Html.CreateSpanDepartment(i.Name, "DepartmentName", i.Name)
                                                @Html.CreateSpanDepartment(i.Name + "Status", "DepartmentStatus", i.Status.ToString())
                                                <ul>
                                                    @if (i.Subdepartments.Count != 0)
                                                    {
                                                        foreach (var ii in i.Subdepartments)
                                                        {
                                                            <li>
                                                                @Html.CreateSpanDepartment(ii.Name, "DepartmentName", ii.Name)
                                                                @Html.CreateSpanDepartment(ii.Name + "Status", "DepartmentStatus", ii.Status.ToString())
                                                                <ul>
                                                                    @if (ii.Subdepartments.Count != 0)
                                                                    {
                                                                        foreach (var iii in ii.Subdepartments)
                                                                        {
                                                                            <li>
                                                                                @Html.CreateSpanDepartment(iii.Name, "DepartmentName", iii.Name)
                                                                                @Html.CreateSpanDepartment(iii.Name + "Status", "DepartmentStatus", iii.Status.ToString())
                                                                                <ul>
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>

                        }
                    }
                </ul>
            </li>
        }    
    }
</ul>

<script type="text/javascript" src="~/js/monitoring.js"></script>
